﻿@{
    ViewData["Title"] = "Home Page";
    int userId = Context.Session.GetInt32("UserId") ?? 0;
}
<style>
    html{
        --neon1: #E384FF;
        --test:50;
    }
    ::-webkit-scrollbar{
        width:0;
        height:0;
    }
    .lhide{
        opacity:0;
        pointer-events:none;
    }
    .cursorLigth{
        --x:0px;
        --y:0px;
        pointer-events:none;
        position:fixed;
        background-image: radial-gradient(circle at var(--x) var(--y),#0000,#0005 20vw,#000a 30vw);
        width:100vw;
        height:100vh;
        top:0;
        z-index:90;
        transition:all 1s;
    }
    .lcontainer{
        max-width:100vw;
        display:flex;
        justify-content:center;
        align-items:center;
        flex-wrap:wrap;
        padding-bottom:4rem;
    }

    .content:not(.sun) .lcontainer .toIncivible {
        opacity:.1;
        transition:all .3s;
    }
    .content:not(.sun) .lcontainer .toIncivible:hover{
        opacity:1;
    }
    .lcontainer > img{
        max-width:50vw;
        max-height:50svh;
        object-fit:cover;
    }
    .lcard{
        text-align:center;
        max-width:20rem;
    }
    .lcardFull{
        max-width:100%;
        display:grid;
        grid-template-columns:1fr 1fr 1fr;
        gap:1rem;
    }
    .lcardFull h1{
        text-align:center;
        grid-column:span 3;
    }
    .lcardFull .litem{
        text-align:center;
    }
    .lcardFull .litem img{
        aspect-ratio:1/1;
        width:100%;
    }
    .lcardFull .litem .lbtn{
        width:80%;
    }
    .content:not(.sun) .neonEffect{
        text-shadow:0 0 20px var(--neon1),
                    0 0 40px var(--neon1),
                    0 0 80px var(--neon1);
    }
    .content:not(.sun) .lbtn.neonEffect{
        text-shadow:unset;
        box-shadow: 0 0 50px 10px var(--neon1);
        background-color: var(--neon1);
    }

    .content:not(.sun) .neonFlickSlow {
        animation: neonFlicker 5s linear infinite;
    }

    .content:not(.sun) .neonFlickFast {
        animation: neonFlicker 3.3s linear infinite;
    }
    
    .ligthMode{
        position:fixed;
        top:4rem;
        left:1rem;

        background-color:#0007  ;
        aspect-ratio:2/3;
        width:2rem;
        border-radius:1rem;

        display:flex;
        flex-direction:column;
        justify-content:space-evenly;
        align-items:center;

        cursor:pointer;
        z-index:100;
    }
    .ligthMode{
        box-shadow:0 0 10px 0 var(--neon1);
        animation:neonFlicker 4s linear infinite;
        transition:all 1s;
    }
    .ligthMode > *{
        transition:all 1s;
    }
    .ligthMode .fa-moon{
        color: #E8E9EB;
    }
    .ligthMode .fa-sun{
        color: #FFE548;
    }
    .ligthMode:not(.sun) .fa-sun,.ligthMode.sun .fa-moon{
        opacity:.2;
    }
    .ligthMode.sun{
        box-shadow:unset;
        animation:unset;
        transform:rotateZ(180deg);
        background-color:#fff3;
    }
    .ligthMode.sun > *{
        transform:rotateZ(180deg);
    }

    @@keyframes neonFlicker {
        0%, 19.9%, 22%, 66.9%, 68%, 68.9%, 75%, 100% {
            opacity: 1;
        }

        20%, 21.9%, 67%, 67.9%, 69% {
            opacity: .4;
        }
    }
    @@keyframes reveal{
        0%{
            background-image:radial-gradient(circle at center,#0000,#000a 1vw);
        }
        100%{
            background-image: radial-gradient(circle at center,#0000,#000a 100vw);
        }
    }
</style>
<div class="ligthMode" onclick="changeLigthMode(this)">
    <i class="fas fa-moon"></i>
    <i class="fas fa-sun"></i>
</div>
<div class="cursorLigth"></div>
<div class="lcontainer">
    <img class="toIncivible" src="/image/iceCream.png" alt="iceCream" />
    <div class="lcard toIncivible">
        <h1 id="textToShuffle">Buat Hari Mu Menyegarkan!</h1>
        <p>
            Es Krim <span class="neonEffect neonFlickSlow">Kenyal</span> dengan berbagai macam rasa.<br>
            Dapatkan sekarang juga
            <a class="neonEffect neonFlickFast" style="font-size:1.5rem" href="@(userId==0?"/login":"/product")">
                <i class="fas fa-shop"></i>
            </a>
        </p>
    </div>
    <div class="lcardFull toIncivible">
        <h1 id="textToNeon1">
            <span>Menu</span>
            <span>Rasa</span>
            <span>Sederhana</span>
        </h1>
        <div class="litem toIncivible">
            <img src="/image/vanillaIceCream.png" alt="vanilla" />
            <h3>Vanila</h3>
            <button class="lbtn neonEffect neonFlickFast" style="animation-duration:2.3s" onclick="location.href='@(userId==0?"/login":"/product")'">Pesan Sekarang</button>
        </div>
        <div class="litem toIncivible">
            <img src="/image/chocolateIceCream.png" alt="vanilla" />
            <h3>Cokelat</h3>
            <button class="lbtn neonEffect neonFlickFast" style="animation-duration:4.3s" onclick="location.href='@(userId==0?"/login":"/product")'">Pesan Sekarang</button>
        </div>
        <div class="litem toIncivible">
            <img src="/image/strawberryIceCream.png" alt="vanilla" />
            <h3>Stroberi</h3>
            <button class="lbtn neonEffect neonFlickFast" style="animation-duration:3.3s" onclick="location.href='@(userId==0?"/login":"/product")'">Pesan Sekarang</button>
        </div>
    </div>
</div>
<script>
    let cursorLight = document.querySelector(".cursorLigth")
    document.onmousemove=e=>{
        // console.log(e)
        let x = e.clientX
        let y = e.clientY
        cursorLight.style.setProperty('--y', y + 'px')
        cursorLight.style.setProperty('--x', x + 'px')
    }
    let textToShuffle = document.querySelector("#textToShuffle")
    let textToShuffleDefaultValue = textToShuffle.innerText
    textToShuffle.parentElement.onmouseenter=e=>{
        shuffleText(textToShuffle, textToShuffleDefaultValue)
    }
    function shuffleText(e,textTarget){
        let words="abcdefghijklmnopqrstuvwxyz"
        let wordsLength = words.length
        let i = -5;
        let textChangeInterval = setInterval(()=>{
            let textAlter=""
            for (let j = 0; j < textTarget.length; j++) {
                if (j <= i || textTarget[j] == ' ') textAlter += textTarget[j]
                else textAlter += words[Math.round(Math.random() * (wordsLength-1))]
            }
            e.innerText=textAlter
            if (i >= textTarget.length) clearInterval(textChangeInterval)
            i+=2
        },30)
    }
    let textToNeon1 = document.querySelector("#textToNeon1")
    function runNeonTitle1(e){
        splitAsSpan(e.children[0], 2)
        splitAsSpan(e.children[1], 2)
        splitAsSpan(e.children[2], 1)
    }
    runNeonTitle1(textToNeon1)
    function splitAsSpan(e,nChar){
        let eText = e.innerText
        e.innerText=""
        let regex = new RegExp(`.{1,${nChar}}`,'g')
        let textArray = eText.match(regex)
        textArray.forEach(text => addSpan(e, text))
    }
    function addSpan(target,text){
        let span =document.createElement("span")
        span.innerText=text
        span.classList.add("neonEffect")
        span.style.transition="opacity .03s ease-in"
        span.style.opacity=.1
        target.appendChild(span)
    }
    function setNeonOn(e,onAt, offAt, interval) {
        return setInterval(function act(){
            setTimeout(() => {
                e.style.opacity=1
            },onAt+interval)
            setTimeout(() => {
                e.style.opacity = .1
            }, offAt)
            return act
        }(),interval)
    }
    let intervalList = [];
    function setNeonTimeLine(e) {
        intervalList.push(setNeonOn(e.children[0].children[0], 0, 1800, 2200))
        intervalList.push(setNeonOn(e.children[0].children[1], 900, 1800, 2200))

        intervalList.push(setNeonOn(e.children[1].children[0], 0, 500, 1800))
        intervalList.push(setNeonOn(e.children[1].children[0], 700, 1400, 1800))
        intervalList.push(setNeonOn(e.children[1].children[1], 900, 1400, 1800))

        for (let i = 0; i < e.children[2].children.length; i++) {
            let speed = 200
            intervalList.push(setNeonOn(e.children[2].children[i], i * speed, (i + 4) * speed, e.children[2].children.length*speed))
        }
    }
    setNeonTimeLine(textToNeon1)
    function changeLigthMode(e){
        e.classList.toggle("sun")
        e.nextElementSibling.classList.toggle("lhide")
        e.parentElement.classList.toggle("sun")
        intervalList.forEach(intv=>clearInterval(intv))
        intervalList=[]
        if (!e.classList.contains("sun"))setNeonTimeLine(textToNeon1)
        else{
            textToNeon1.querySelectorAll("span span").forEach(el=>el.style.opacity=1)
        }

    }
</script>