﻿@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@using RestoApp.Models.ViewModels
@model List<VMOrder>

@{
    var bankList = new List<object>()
    {
        new{
            name="BCA",
            img= "https://www.bca.co.id/-/media/Feature/Header/Header-Logo/logo-bca-white.svg?v=1"
        },
        new{
            name="BNI",
            img= "https://www.bni.co.id/Portals/1/bni-logo-id.png"
        },
        new{
            name="BRI",
            img= "https://bri.co.id/o/bri-corporate-theme/images/bri-logo-white.png"
        }
    };
    int totalPrice = 0;
}

<style>
    .lcard{
        background:#0005;
        border-radius:.3rem;
        margin:min(10%,6rem);
        padding:2ch;
    }
    .lcard form{
        display: flex;
        flex-wrap:wrap;
        gap:2ch;
        justify-content:space-evenly;
    }
    .lcard form button{
        width:100%;
    }
    form >div{
        background:#0003;
        display:grid;
        gap:1ch;
        border-radius:.3rem;
        padding:1ch;

    }
    .content{
        max-height:unset;
    }
    table{
        width:100%;
        background:#0003;
        border-radius:.3rem;
        margin-bottom:2ch;
    }
    thead,tfoot{
        background:#0003;
    }
    td,th{
        padding:1ch;
    }
</style>

<div class="paymentContainer lcard">
    <table>
		<thead>
			<tr>
				<th>Pesanan</th>
				<th>Harga</th>
				<th>Jumlah</th>
				<th>Total</th>
            </tr>
        </thead>
		<tbody>
            @if(Model!=null){
                @foreach(var d in Model)
                {
                    if(d.Quantity>0){
                        totalPrice += (d.Quantity * d.Product.Price).GetValueOrDefault();
                        <tr>
					        <td>@d.Product.Name</td>
					        <td>@d.Product.Price</td>
					        <td>@d.Quantity</td>
					        <td>@(d.Quantity*d.Product.Price)</td>
                        </tr>
                    }
                }
            }
        </tbody>
		<tfoot>
            <tr>
				<td colspan="3">Pembayaran</td>
				<td>@totalPrice</td>
            </tr>
        </tfoot>
    </table>
	<form onsubmit="checkout(event)">
        @foreach(var img in bankList)
        {
            <input name="price" value="@totalPrice" hidden/>
            <div class="linputGroup">
                <img src="@img.GetType().GetProperty("img").GetValue(img)"/>
                <input id="bank" name="bank" type="radio" value="@img.GetType().GetProperty("name").GetValue(img)" />
            </div>
        }
    	<button type="submit">Dapatkan Nomer Virtual Account</button>
    </form>
</div>

<script>
    function checkout(e){
        e.preventDefault()
        try{
            if (e.target.bank.value == "")throw("please select bank of the list")
            let formData= new FormData(e.target)
            fetch("/payment/create",{
                method:"POST",
                body:formData
            }).then(e => e.json()).then(resp => {
                if(resp.statusCode==200){
                    location.href="/payment/inprogress"
                }
            })
            console.log("great")
        }
        catch(e){
            console.log(e)
        }
        
    }
</script>