﻿@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@using RestoApp.Models.DataModels
@model MPayment
@{
}

<style>
    .content{
        min-height:unset;
        display:flex;
        justify-content:center;
        padding-top:4ch;
    }
    .lcontainer{
        background:#0005;
        border-radius:.3rem;
        padding:2ch;
    }
</style>

<div class="lcontainer">
    @if (Model != null)
    {
        <table>
            <tr>
                <td>
                    Total Pembayaran
                </td>
                <td>
                    : @Model.Price
                </td>
            </tr>
            <tr>
                <td>
                    Bank
                </td>
				<td>
                    : @Model.Bank
                </td>
            </tr>
            <tr>
                <td>
                    Nomer VA 
                </td>
                <td>
                    : @Model.VANumber
                    <button data-text="@Model.VANumber" onclick="copyText(this)">Copy VA Number</button>
                </td>
            </tr>
            <tr>
                <td>
                    Status Pembayaran
                </td>
                <td>
                    : @(Model.IsPaidOff?"Sudah":"Belum") Bayar
                </td>
            </tr>
            <tr>
                <td>
                    Masa Berlaku
                </td>
				<td>
                    : <span id="expire" data-date="@Model.ExpireOn"></span>
                </td>
            </tr>
        </table>
    }
    else
    {
        <h4>Anda belum memiliki daftar pembayaran silahkan konfirmasi di daftar pesanan</h4>
        <button onclick="location.href='/payment'">Kembali</button>
    }
</div>

@if (Model != null)
{
    <script>
        function copyText(e){
            navigator.clipboard.writeText(e.dataset.text)
        }
        let timer = setInterval(function countdown(){
            let target = document.querySelector("#expire")
            let expireDate = new Date(target.dataset.date)
            let diff = (expireDate-Date.now())/1000
            target.innerHTML=" "+Math.floor(diff/60)+" menit "+Math.floor(diff%60)+" detik"
            if(diff<0){
                location.reload()
            }
            return countdown
        }(),1000)
    </script>   
}