﻿@using RestoApp.Models.DataModels
@using RestoApp.Models.ViewModels
@model VMPagination<MProductCategory>
@{
    var data = Model.Data;
    var sortBy = (string)ViewData["sortBy"];
    string orderBy(string? sortBy, string name)
    {
        if (sortBy == null || !sortBy.Contains(name)) return name + "-dsc";
        else if (sortBy.Contains("dsc")) return name + "-asc";
        else return "";
    }
}

<style>
    .lhide{
        opacity:0;
        pointer-events:none;
    }
    .hoverContainer{
        position:fixed;
        top:0;
        width:100%;
        height:100svh;
        background:#000d;
        display:grid;
        place-items:center;
        transition:all .1s;
    }
    .hoverContainer .lcardFull,.hoverContainer .lcardFit{
        background:#333;
        padding:1rem;
    }
    .hoverContainer .lheader{
        display:flex;
        justify-content:space-between;
        align-items:center;
        gap:2rem;
    }

    form>*{
        margin:1rem 0;
    }
    form#category, form#category input {
        width:100%;
    }
    form#category>div:not(:has(button)){
        display:grid;
        grid-template-columns:10ch auto;
    }
    form#category button{
        display:block;
        margin-left:auto;
        text-align:center;
    }
    .lcontentContainer{
        width:100%;
        padding:1rem 0;
    }
    .lcardFull,.lcardFit{
        margin:auto;
        width:min(900px, 100% - 5rem);
        min-height:10rem;
        background-color:#0007;
        border-radius:.3rem;
        overflow:hidden
    }
    .lcardFit{
        display:grid;
        width:auto;
        max-width:calc(100% - 5rem);
        gap:1rem;
        text-align:center;
    }
    table{
        margin:auto;
        width:100%;
        caption-side:top;
    }
    #detailItem table tr{
        display:grid;
        grid-template-columns:10ch auto;
    }
    caption,td,th{
        padding:1rem;
    }
    caption{
        color:inherit;
        background:#0009;
    }
    caption div{
        display:flex;
        justify-content:space-between;
        align-items:center;
    }
    caption button{
        border:solid 1px #fffa;
    }
    th{
        background:#0007;
    }
    tr:nth-of-type(2n+1){
        background:#fff3;
    }
    tr.lfooter{
        text-align:center;
    }
    @@media (max-width:640px){
        tr:not(.lfooter) td {
            display:grid;
            grid-template-columns:10ch auto;
        }
        tr:not(.lfooter) td:before{
            content:attr(data-cell)": ";
            font-weight:700;
            text-transform:capitalize;
        }
        tr:has(th){
            display:none;
        }
    }

</style>
<div class="lcontentContainer">
    <div class="lcardFull">
        <table id="categoryList">
            <caption>
                <div>
                    <h4>Category List</h4>
                    <button onclick="addItem.classList.toggle('lhide')">
                        <i class="fas fa-plus"></i>
                    </button>
                </div>
            </caption>
            <tr>
                <th>Id</th>
                <th role="button" onclick="setParam('sortBy','@orderBy(sortBy,"name")')">
                    Name&nbsp
                    @if(sortBy=="name-dsc")
                    {
					    <i class="fas fa-caret-down"></i>
                    }
                    @if (sortBy == "name-asc")
                    {
                        <i class="fas fa-caret-up"></i>
                    }
                </th>
                <th>Action</th>
            </tr>
            @foreach(var item in data){
            <tr>
                <td data-cell="Id">
                    @item.Id
                </td>
                <td data-cell="Nama">
                    @item.Name
                </td>
                <td data-cell="Action" class="actionGroup">
                    <div class="actionGroup" data-id="@item.Id" data-name="@item.Name">
                        <button onclick="toggleShowDetailItem(this)">
                            <i class="fas fa-book"></i>
                        </button>
                        <button onclick="editItem(this)">
                            <i class="fas fa-pencil"></i>
                        </button>
                        <button onclick="deleteCategoryConfirmation(this)">
                            <i class="fas fa-trash"></i>
                        </button>
                    </div>
                </td>
            </tr>
            }
            <tr class="lfooter">
                <td colspan="3">
                    @if (Model.Page != 1)
                    {
                        <button onclick="setParam('page',@(Model.Page-1))"><i class="fas fa-caret-left"></i></button>
                    }
                    page @Model.Page of @Model.TotalPage    
                    @if (Model.Page != Model.TotalPage)
                    {
                        <button onclick="setParam('page',@(Model.Page+1))"><i class="fas fa-caret-right"></i></button>
                    }
                </td>
            </tr>
        </table>
    </div>
</div>
<div id="addItem" class="hoverContainer lhide" onclick="if(event.target==this)this.classList.toggle('lhide')">
    <div class="lcardFull">
        <div class="lheader">
            <h4>Tambah Kategori</h4>
            <button onclick="addItem.classList.toggle('lhide')">
                <i class="fas fa-close"></i>
            </button>
        </div>
        <form id="category">
            <div class="inputName">
                <label for="name">Nama</label>
                <input type="text" id="name" name="name"/>
            </div>
            <div>
                <button type="submit">Tambah</button>
            </div>
        </form>
    </div>
</div>
<div id="deleteItem" class="hoverContainer lhide" onclick="if(event.target==this)this.classList.toggle('lhide')">
    <div class="lcardFit">
        <div class="lheader">
            <h4>Delete Item</h4>
            <button onclick="toggleShowDeleteItemCard()">
                <i class="fas fa-close"></i>
            </button>
        </div>
        <p id="item">item</p>
        <button id="delete" onclick="deleteCategory(this)">Hapus</button>
    </div>
</div>
<div id="detailItem" class="hoverContainer lhide" onclick="if(event.target==this)this.classList.toggle('lhide')">
    <div class="lcardFull">
        <div class="lheader">
            <h4>Detail Item</h4>
            <button onclick="detailItem.classList.toggle('lhide')">
                <i class="fas fa-close"></i>
            </button>
        </div>
        <table>
            <tr id="id">
                <td>Id</td>
                <td>:</td>
            </tr>
            <tr id="name">
                <td>Name</td>
                <td>:</td>
            </tr>
            <tr id="createOn">
                <td>CreateOn</td>
                <td>:</td>
            </tr>
            <tr id="createBy">
                <td>CreateBy</td>
                <td>:</td>
            </tr>
            <tr id="updateOn">
                <td>UpdateOn</td>
                <td>:</td>
            </tr>
            <tr id="updateBy">
                <td>UpdateBy</td>
                <td>:</td>
            </tr>
        </table>
    </div>
</div>
<script>
    let addItem = document.querySelector("#addItem")
    let formCategory = document.querySelector("#category")
    formCategory.onsubmit=e=>{
        e.preventDefault()
        try{
            if(formCategory.name.value=="")throw("name must not be null")
            fetch("/category/add", {
                method:"post",
                body:new FormData(formCategory)
            }).then(e=>e.json()).then(data=>{
                console.log(data)
                location.reload()
            })
        }
        catch(e){
            console.log(e)
        }
    }
    let deleteItemCard = document.querySelector("#deleteItem")
    function toggleShowDeleteItemCard(){
        deleteItemCard.classList.toggle("lhide")
    }
    function deleteCategoryConfirmation(e){
        let categoryId=e.parentElement.dataset.id
        let categoryName = e.parentElement.dataset.name
        deleteItemCard.querySelector("#item").innerHTML=`Yakin menghapus "${categoryName}"?`
        deleteItemCard.querySelector("button#delete").dataset.id=categoryId
        toggleShowDeleteItemCard()
    }
    function deleteCategory(e){
        fetch(`/category/delete?id=${e.dataset.id}`).then(e=>e.json()).then(data=>{
            console.log(data)
            if (data.StatusCode != 500) location.reload()
        })
    }
    let detailItem = document.querySelector("#detailItem")
    function toggleShowDetailItem(e){
        let id = e.parentElement.dataset.id
        fetch("/category/get?id=" + id).then(e => e.json()).then(data => {
            console.log(data)
            if(data.statusCode==200 && data.data.length>0){
                let table = document.querySelector("#detailItem table")
                let d = data.data[0]
                table.rows.id.lastElementChild.innerHTML=": "+d.id
                table.rows.name.lastElementChild.innerHTML=": "+d.name
                table.rows.createOn.lastElementChild.innerHTML=": "+d.createOn
                table.rows.createBy.lastElementChild.innerHTML=": "+d.createBy
                table.rows.updateOn.lastElementChild.innerHTML=": "+(d.updateOn??'-')
                table.rows.updateBy.lastElementChild.innerHTML=": "+(d.updateBy??'-')
                detailItem.classList.toggle("lhide")
            }
        })
    }
    function editItem(e){
        let name = e.parentElement.dataset.name
        let id=e.parentElement.dataset.id
        let targetInput = e.parentElement.parentElement.previousElementSibling

        let input = document.createElement("input")
        input.defaultValue=targetInput.innerText
        targetInput.innerHTML=""
        targetInput.appendChild(input)

        let buttonSave= document.createElement("button")
        let buttonCancel=document.createElement("button")
        buttonSave.innerHTML="<i class='fas fa-check'></i>"
        buttonCancel.innerHTML="<i class='fas fa-xmark'></i>"
        targetInput.appendChild(buttonCancel)
        targetInput.appendChild(buttonSave)

        targetInput.style.display="flex"
        targetInput.style.alignItems="center"
        targetInput.style.gap=".5rem"

        buttonCancel.onclick=e=>location.reload()
        buttonSave.onclick=e=>{
            try{
                if(input.value=="")throw("data must be not null")
                let formData = new FormData()
                formData.append("id",id)
                formData.append("name",input.value)
                fetch("/category/update", {
                    method:"put",
                    body:formData
                }).then(e => e.json()).then(data => {
                    console.log(data)
                    if(data.statusCode!=500)location.reload()
                })
            }
            catch(e){
                console.log(e)
            }
            
        }
        
    }
    function setParam(name,value){
        let url= new URL(location.href)
        url.searchParams.set(name,value)
        location.href=url.href
    }
</script>