﻿body {
    width: 100%;
    min-height: 100vh;
    min-height: 100svh;
    background: #333;
    color: white;
    position:relative;
}
nav{
    position:sticky;
    top:0;
    display:flex;
    flex-direction:row;
    align-items:center;
    justify-content:space-between;
    padding:0 1rem;
    background:#0007;
    height:3rem;
    z-index:999;
}
ul{
    margin:auto 0;
}
ul li{
    list-style:unset;
    display:inline-block;
    margin: 0 1rem;
}
.search form{
    display:flex;
    border-radius:.3rem;
    overflow:hidden;
}
.search form input{
    text-align:center;
}
.search form button{
    border-radius:0;
}
.profile{
    aspect-ratio:1;
    height:2.6rem;
    border-radius:50%;
    overflow:hidden;
    cursor:pointer;
}
.lhidden{
    opacity:0;
    pointer-events:none;
}
.ldisp{
    display:none;
}

.profileMenu{
    position:fixed;
    background-color:black;
    top:3.5rem;
    right:.5rem;
    border-radius:.3rem;
    transition:all .03s ease-in;
}
.menu li{
    margin:.2rem;
    padding:.3rem;
    background-color:#fff1;
    display:grid;
    grid-template-columns:2rem 1fr;
    align-items:center;
    cursor:pointer;
}
.menu li:hover{
    background-color:#fff3;
}
.menu .profileShow{
    margin:.5rem;
    max-width:10rem;
    text-align:center;
}
.menu .image {
    aspect-ratio: 1;
    border-radius: .3rem;
    background-color: white;
    background-image: url("/image/user.svg");
    background-size:cover;
}
.content{
    min-height:calc(100svh - 3rem);
}