﻿*,*::before,*::after{
    box-sizing:border-box;
}
*{
    margin:0;
}
body{
    line-height:1.5;
}
img,picture,video,canvas,svg{
    display:block;
    max-height:100%;
    max-width:100%;
    object-fit:cover;
}
input,button,textarea,select{
    font:inherit;
}
p, h1, h2, h3, h4, h5, h6 {
    overflow-wrap: break-word;
    line-height: 1.5;
}
p{
    margin:0;
}
ul{
    margin:0;
    padding:0;
}
a{
    text-decoration:unset;
    color:inherit;
}
a:hover{
    color:#fff9;
}
input{
    outline:unset;
    border:unset;
}
button{
    all:unset;
    box-sizing:border-box;
    background-color:#0005;
    padding:.3rem .5rem;
    border-radius:.3rem;
    cursor:pointer;
    text-align:center;
}
button:hover{
    background-color:#fff2;
}
button:active{
    background-color:#fff5;
}