﻿@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
}
<style>
    .lcontainer {
        margin: 2rem auto 0;
        max-width: 22rem;
        justify-content: center;
    }

        .lcontainer h1 {
            background-color: #0005;
            border-radius: .3rem;
            width: 100%;
            text-align: center;
        }

        .lcontainer .signup {
            display: flex;
            flex-direction: column;
            background-color: #0005;
            border-radius: .3rem;
            padding: 1rem 2rem;
        }

        .lcontainer .signup > * {
            margin: .5rem;
        }

        .lcontainer .signup button {
            grid-column: 2;
            display: block;
            text-align:center;
        }
        .lcontainer .signup p{
            text-align:center;
        }
        .lcontainer .signup .spanError{
            margin-top:-.5rem;
            color:darkviolet;
        }
</style>
<div id="signupContainer" class="lcontainer">
    <h1>Sign up</h1>
    <form class="signup">
        <input id="username" type="text" name="Username" placeholder="Username" />
        <input type="password" name="Password" id="password" placeholder="Password" />
        <input type="password" name="confirmPassword" id="confirmPassword" placeholder="confirmPassword" />
        <input type="text" name="Fullname" id="fullname" placeholder="Fullname" />
        <input type="text" name="Email" id="email" placeholder="Email" />
        <button type="submit">Sign up</button>
        <p>Sudah punya akun? <a href="/login/index">Login</a></p>
    </form>
</div>
<script>
    let signupForm = document.querySelector("form.signup")
    signupForm.onsubmit=async e=>{
        try{
            e.preventDefault()
            let isError
            signupForm.oninput=e=>{
                let regex = /^[a-zA-Z0-9._-]+@@[a-zA-Z0-9.-]+\.[a-zA-Z]{2,4}$/
                if(e.target.name=='Username' && e.target.value==e.target.dataset.lastval) addErrorMessage("username already exist",e.target)
                else if (e.target.name == 'confirmPassword' && signupForm.password.value != e.target.value) addErrorMessage("passwod doesn't match", e.target)
                else if (e.target.name == 'Email'&&!regex.test(e.target.value)) addErrorMessage("please input a valid email", e.target)
                else addErrorMessage(null, e.target)
            }
            signupForm.querySelectorAll("input").forEach(e=>{
                let errMessage;
                if (e.value == ''){
                    errMessage="this fill required"
                }
                addErrorMessage(errMessage, e)
            })
            if (signupForm.password.value != signupForm.confirmPassword.value) addErrorMessage("passwod doesn't match", signupForm.confirmPassword)
            if (signupForm.email.value) {
                let regex = /^[a-zA-Z0-9._-]+@@[a-zA-Z0-9.-]+\.[a-zA-Z]{2,4}$/
                if (!regex.test(signupForm.email.value)) addErrorMessage("please input a valid email", signupForm.email)
            }
            let formUser = new FormData()
            formUser.append("username",signupForm.username.value)
            let response = await fetch("/signup/isusernameexist",{
                method:"post",
                body:formUser
            }).then(e=>e.json())
            if (response && signupForm.username.value!='') {
                signupForm.username.dataset.lastval = signupForm.username.value
                addErrorMessage("username already exist", signupForm.username)
            }
            function addErrorMessage(msg,e){
                let sibling = e.nextElementSibling
                if (msg) {
                    if (sibling.tagName == 'SPAN') sibling.innerHTML = msg
                    else {
                        let span = document.createElement("span")
                        span.classList = "spanError"
                        span.innerHTML = msg
                        e.after(span)
                    }
                    isError = msg
                }
                else if(sibling.tagName=='SPAN')sibling.remove()
            }
            if(isError)throw isError
            fetch("/signup/signup",{
                method:"POST",
                body: new FormData(signupForm)
            }).then(e => e.json()).then(data => {
                console.log(data)
                let target = document.querySelector("#signupContainer")
                if(data.statusCode==200){
                    target.innerHTML=`<h1>Sign Up Success<h1>`
                }
                else{
                    target.innerHTML = `<h1>Sign Up Failed<h1>`
                }
            })
        }
        catch(e){
            console.log(e)
        }
    }
</script>