﻿@using RestoApp.Models.DataModels
@model MProfile
@{
    var payments = (List<MPayment>)ViewData["Payments"];
    var lastPayment = payments.Last();
}


<style>
    .lcontainer{
        margin:1rem 4rem;
        background-color:#000a;
        padding:2rem;
        border-radius:.3rem;
    }
    .headProfile{
        display:grid;
        grid-template-columns:1fr 2fr;
        align-items:center;
        justify-content:space-evenly;
        border-bottom:1px solid white;
        padding-bottom:2rem;
    }
    .headProfile img{
        aspect-ratio:1;
        max-width:20vw;
        display:inline-block;
        grid-area:span 1;
        place-self:center;
        cursor:pointer;
    }
    #keranjang >button{
        background-color:#fff3;
        display:block;
        margin-top:1rem;
        margin-left:auto;
    }

    #keranjang >button:hover{
        background-color: #fff1;
    }
    #keranjang:not(:has(tbody tr)) > button{
        display:none;
    }
    .lcontent{
        display:grid;
        grid-template-columns:1fr 2fr;
    }
    .lcontent:not(:has(.lmenu #keranjang.lfocus)) .lmenuDetail #keranjang,
    .lcontent:not(:has(.lmenu #statusPesanan.lfocus)) .lmenuDetail #statusPesanan,
    .lcontent:not(:has(.lmenu #riwayatPesanan.lfocus)) .lmenuDetail #riwayatPesanan{
        display:none;
    }
    .lmenu{
        padding:1rem;
    }
    .lmenu li{
        display:block;
        margin:0;
        background-color:#000a;
        padding:.3rem 0;
        border-radius:.3rem;
        margin-bottom:.5rem;
        text-align:center;
        cursor:pointer;
    }
    .lmenu li:hover,.lmenu .lfocus{
        background-color:#fff5;
    }
    .lmenuDetail{
        background-color: #000a;
        margin-top:1rem;
        padding:1rem;
        border-radius:.3rem;
    }
    .text input{
        background-color: inherit;
        color: inherit;
        padding: 0;
    }
    .text input#fullname{
        font-size:1.8rem;
    }
    .spanError{
        display:block;
        color:darkviolet;
        font-size:.8rem;
    }
    .lnone{
        display:none;
    }
    .ltable{
        width:100%;
    }
    .ltable tr{
        background:#fff5;
    }
    .ltable tr:has(th){
        background:#fff1;
    }
    .ltable tr:nth-of-type(2n){
        background:#fff7;
    }
    .ltable tr>*{
        padding:.3rem;
    }
</style>
<div class="lcontainer">
    <div class="headProfile">
        @if (Model.Image != "")
        {
            <img ondragover="event.preventDefault()" src="/image/@Model.Image" alt="profilePicture" profileImage />
        }
        else
        {
            <img ondragover="event.preventDefault()"src="/image/user.svg" alt="profilePicture" profileImage/>
        }
        <div class="text">
            <span class="spanError" id="spanErrorMessage"></span>
            <p style="font-size:1.8rem;" profileName>@Model.Fullname</p>
            <input id="fullname" type="text" value="" name="fullname" class="ldisp" editable />
            <p style="font-size:1rem;">
                <i class="fas fa-envelope"></i>
                <span profileEmail>@Model.Email</span>
                <input id="email" type="text" value="" name="email" class="ldisp" editable/>
            </p>
            <button onclick="toggleDisp()" type="button">
                <i class="fas fa-pencil"></i>
                <span>Edit</span>
            </button>

            <button onclick="updateProfile()" type="button" class="ldisp" editable>
                <i class="fas fa-pencil"></i>
                <span>Update</span>
            </button>
            <span></span>
            <p style="font-size:.7rem;" class="ldisp" editable>Drag & drop image to profile image or click image to change image</p>
        </div>
    </div>
    <div class="lcontent">
        <div class="lmenu">
            <ul>
                <li id="keranjang" onclick="setFocus(this);keranjang(this);" class="lfocus">
                    <a>Keranjang</a>
                </li>
                <li id="statusPesanan" onclick="setFocus(this);">
                    <a>Status Pesanan</a>
                </li>
                <li id="riwayatPesanan" onclick="setFocus(this)">
                    <a>Riwayat Pesanan</a>
                </li>
                <li onclick="setFocus(this);location.href='/login/logout';">
                    <a>Logout</a>
                </li>
            </ul>
        </div>
        <div class="lmenuDetail">
            <div id="keranjang">
                <table class="ltable">
                    <thead>
                        <tr>
                            <th>Nama</th>
                            <th>Total Harga</th>
                            <th>Jumlah</th>
                        </tr>
                    </thead>
                    <tbody>
                    </tbody>
                </table>
                <button onclick="location.href='/payment'">Bayar</button>
            </div>
            <div id="statusPesanan">
                <table class=ltable>
                    <thead>
                        <tr>
                            <th>Nomer VA</th>
                            <th>Jumlah Pembayaran</th>
							<th>Status</th>
                        </tr>
                    </thead>
                    <tbody>
                        @if(lastPayment!=null&&lastPayment.ExpireOn>DateTime.Now){
                            <tr>
							    <td>@lastPayment.VANumber</td>
                                <td>@lastPayment.Price</td>
                                <td>@(lastPayment.IsPaidOff?"Sudah Dibayar":"Menunggu Pembayaran")</td>
                            </tr>
                        }
                    </tbody>
                </table>
            </div>
            <div id="riwayatPesanan">
                <table class="ltable">
					<thead>
                        <tr>
                            <th>Id</th>
							<th>Tanggal Pesanan</th>
                            <th>Bank</th>
							<th>Total Pembayaran</th>
                        </tr>
                    </thead>
                    <tbody>
                        @foreach(var d in payments.Where(p => p.IsPaidOff))
                        {
                            <tr>
								<td>@d.Id</td>
                                <td>@d.CreateOn</td>
                                <td>@d.Bank</td>
                                <td>@d.Price</td>
                            </tr>
                        }
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</div>
<script>
    let formData=new FormData()
    function dropImage(e){
        e.preventDefault()
        let file=e.dataTransfer.files[0]
        if(file.type.indexOf('image')!=-1){
            let url=URL.createObjectURL(file)
            e.target.src=url
            formData.set('image',file)
        }
    }

    function toggleDisp() {
        let input = document.querySelectorAll(".text [editable]")
        input.forEach(e => {
            e.value=e.previousElementSibling.innerText
            e.previousElementSibling.classList.toggle("ldisp")
            e.classList.toggle('ldisp')
        })
        document.querySelector(".headProfile img").ondrop = e => dropImage(e)
    }
    function updateProfile(){
        try{
            let fullname = document.querySelector("#fullname")
            let email = document.querySelector("#email")
            let spanError = document.querySelector("#spanErrorMessage")
            let errMsg
            if (fullname.value == '' || email.value=='') {
                errMsg = "data tidak boleh kosong"
                spanError.innerHTML=errMsg
            }
            let pattern = /^[a-zA-Z0-9._-]+@@[a-zA-Z]+\.[a-z]{2,4}$/
            if(!pattern.test(email.value)){
                errMsg="format email tidak valid"
                spanError.innerHTML = errMsg
            }
            document.querySelector('.text').oninput=e=>{
                if (fullname.value == '' || email.value == '') {
                    errMsg = "data tidak boleh kosong"
                    spanError.innerHTML = errMsg
                }
                else if (!pattern.test(email.value)) {
                    errMsg = "format email tidak valid"
                    spanError.innerHTML = errMsg
                }
                else spanError.innerHTML=''
            }
            if(errMsg)throw 'data tidak valid'
            formData.set('fullname', fullname.value)
            formData.set('email', email.value)
            fetch('/profile/update',{
                method:"POST",
                body:formData
            }).then(e=>e.json()).then(e=>{
                console.log(e)
                if (e.statusCode == 200){
                    location.reload()
                }
            })
        }
        catch(e){
            console.log(e)
        }
    }
    function createSpanElement(msg) {
        let span=document.createElement('span')
        span.innerText=msg
        span.classList='spanError'
        return span
    }
    function keranjang(e){
        let keranjang=document.querySelector(".lmenuDetail #keranjang tbody")
        fetch("/order/get").then(e=>e.json()).then(data=>{
            console.log(data)
            keranjang.innerHTML=""
            if(data.data.length!=0){
                let totalHarga = 0
                data.data.forEach(d => {
                    if(d.quantity==0)return

                    totalHarga+=d.quantity*d.product.price

                    let tr = document.createElement("tr")
                    tr.innerHTML=`
                        <td>${d.product.name}</td>
                        <td>${d.quantity*d.product.price}</td>
                        <td>
                            <div style="display:flex;align-items:center;gap:.3rem;" data-id="${d.product.id}">
                                <span>${d.quantity}</span>
                                <button style="margin-left:auto;" onclick="updateProductQty(this,-1)">
                                    <i class="fas fa-minus"></i>
                                </button>
                                <button onclick="updateProductQty(this,1)">
                                    <i class="fas fa-plus"></i>
                                </button>
                            </div>
                        </td>
                    `
                    keranjang.appendChild(tr)
                })
                let tr=document.createElement("tr")
                tr.id="totalPrice"
                tr.innerHTML=`
                    <td>Total Harga</td>
                    <td colspan=3>${totalHarga}</td>
                `
                keranjang.appendChild(tr)
            }

        })
    }
    keranjang()
    function updateProductQty(e,n){
        let productId = e.parentElement.dataset.id
        let span = e.parentElement.firstElementChild
        let qty = parseInt(span.innerText)
        let formData = new FormData()
        formData.append("productId",productId)
        formData.append("qty", qty+n)
        fetch("/order/update", {
            method:"post",
            body:formData
        }).then(e=>e.json()).then(data=>{
            if (data.statusCode == 200) {
                span.innerHTML = qty+n
                if(qty+n==0)e.parentElement.parentElement.parentElement.remove()
                updateTotal()
            }
        })
    }
    function updateTotal(){
        let tr=document.querySelector("tr#totalPrice")
        let totalPrice=0
        fetch("/order/get").then(e=>e.json()).then(data=>{
            console.log(data)
            data.data.forEach(d => totalPrice += d.quantity * d.product.price)
            tr.lastElementChild.innerHTML=totalPrice
        })

    }
    function setFocus(e) {
        let menus = e.parentElement.querySelectorAll("li")
        menus.forEach(m=>m.classList.remove("lfocus"))
        e.classList.add("lfocus")
    }
</script>