﻿@using RestoApp.Models.DataAccess
@{
    var builder = new ConfigurationBuilder();
    builder.AddJsonFile("appsettings.json");
    IConfiguration config = builder.Build();
    var data = DAProfile.GetProfileById(config.GetConnectionString("SqlConnection"), Html.ViewContext.HttpContext.Session.GetInt32("ProfileId").GetValueOrDefault());
}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
    <title>Gelato_o</title>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css"/>
    <link href="~/css/reset.css" rel="stylesheet" />
    <link href="~/css/guestlayout.css" rel="stylesheet" />
    <link href="~/lib/font-awesome/css/all.min.css" rel="stylesheet" />
</head>
<body>
    <nav class="lnav">
        <h5>
            <a href="/">Gelato_o</a>
        </h5>
        <div class="search">
            <form asp-controller="product" asp-action="index">
                <input type="text" name="filterName" placeholder="cari item"/>
                <button type="submit">
                    <i class="fas fa-search"></i>
                </button>
            </form>
        </div>
        <ul>
            <li>
                <a href="/product/index">Daftar Menu</a>
            </li>
            <li>
                <a href="/profile/index">Pesanan Saya</a>
            </li>
        </ul>
        <div class="profile" onclick="hide()">
            @if(data.Image!=""){
                <img src="/image//@data.Image" alt="profilePicture" />
            }
            else{
                <img src="/image//user.svg" alt="profilePicture"/>
            }
        </div>
        <div class="profileMenu menu lhidden">
            <div class="profileShow">
                @if(data.Image!=""){
                    <div class="image" style="background-image:url('/image/@data.Image')"></div>
                }
                else{
                    <div class="image"></div>
                }
                <span>@data.Fullname</span>
            </div>
            <ul>
                <li onclick="location.href='/profile/index'">
                    <i class="fas fa-user fa-lg"></i>
                    <a>Lihat Profil</a>
                </li>
                <li onclick="location.href='/login/logout'">
                    <i class="fas fa-right-from-bracket fa-lg"></i>
                    <a>Logout</a>
                </li>
            </ul>
        </div>
    </nav>
    <div class="content">
        @RenderBody()
    </div>
</body>
</html>
<script>
    function hide() {
        let menu = document.querySelector(".profileMenu.menu")
        menu.classList.toggle("lhidden")
    }
    
</script>