﻿@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
    <title>Gelato_o</title>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css"/>
    <link href="~/css/reset.css" rel="stylesheet" />
    <link href="~/css/guestlayout.css" rel="stylesheet" />
    <link href="~/lib/font-awesome/css/all.min.css" rel="stylesheet" />
</head>
<body>
    <nav class="lnav">
        <h5>
            <a href="/">Gelato_o</a>
        </h5>
        <ul>
            <li>
                <a href="/login/index">Login</a>
            </li>
            <li>
                <a href="/signup/index">Signup</a>
            </li>
        </ul>
    </nav>
    <div class="content">
        @RenderBody()
    </div>
</body>
</html>