﻿@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
}
<style>
    .lcontainer{
        margin:2rem auto 0;
        max-width:22rem;
        justify-content:center;
    }
    .lcontainer h1{
        background-color: #0005;
        border-radius: .3rem;
        width:100%;
        text-align:center;
    }
    .lcontainer .login{
        display:flex;
        flex-direction:column;
        background-color: #0005;
        border-radius: .3rem;
        padding:1rem 2rem;
    }
    .lcontainer .login > *{
        margin: .5rem;
    }
    .lcontainer .login button{
        grid-column: 2;
        display:block;
        text-align:center;
    }
    .lcontainer .login p{
        text-align:center;
    }
    .lcontainer .login .spanError{
        margin-top:-.5rem;
        color:darkviolet;
    }
</style>
<div class="lcontainer">
    <h1>Log in</h1>
    <form id="loginForm" class="login">
        <input id="username" type="text" name="username" placeholder="Username"/>
        <input type="password" name="password" id="password" placeholder="Password"/>
        <button type="submit">Log in</button>
        <p>Tidak punya akun? <a href="/signup/index">Signup</a></p>
    </form>
</div>
<script>
    let loginForm = document.querySelector("#loginForm")
    loginForm.onsubmit=e=>{
        try{
            e.preventDefault()
            let isError
            loginForm.querySelectorAll("input").forEach(e=>{
                if (e.value == '') {
                    isError = "this fill is required";
                    addErrorMessage(isError, e)
                }
            })
            loginForm.oninput=e=>{
                addErrorMessage(null,e.target)
            }
            if(isError)throw "error"
            let formData= new FormData(loginForm)
            fetch("/login/login",{
                method:"POST",
                body:formData
            }).then(e=>e.json()).then(data=>{
                console.log(data)
                let cont = document.querySelector(".lcontainer")
                if (data.statusCode == 200) {
                    console.log("login success")
                    location.href='/'
                }
                else if(data.statusCode==401){
                    addErrorMessage(data.message,loginForm.password)
                }
                else{
                    console.log("login failed")
                }

            })
            function addErrorMessage(msg,e){
                if (msg) {
                    if (e.nextElementSibling.tagName == "SPAN") {
                        e.nextElementSibling.innerHTML = msg
                    }
                    else {
                        let span = document.createElement("span")
                        span.classList = "spanError"
                        span.innerHTML = msg
                        e.after(span)
                    }
                }
                else if (e.nextElementSibling.tagName == "SPAN") e.nextElementSibling.remove()
            }
        }
        catch (e){
            console.log(e)
        }
    }
</script>