﻿@using RestoApp.Models.DataModels
@using RestoApp.Models.ViewModels
@{
    var productCategory = (List<MProductCategory>)ViewData["ProductCategory"];
    var rawData = (VMPagination<MProduct>)ViewData["Product"];
    var product = rawData.Data??[];
    var sortBy = (string)ViewData["SortBy"];
    string setOrderBy(string sorti,string name){
        if(sorti==null||!sorti.Contains(name)) return name + "-dsc";
        else if (sorti.Contains("asc")) return "";
        else return name + "-asc";
    }
}

<style>
    .lcontainer{
        width:min(900px,100% - 3rem);
        margin-inline:auto;
        overflow:auto;
    }
    table{
        margin:1rem auto;
        width:100%;
        color:inherit;
        caption-side:top;
        background-color:#0005;
        border-radius: 0 0 .3rem .3rem;
        overflow:hidden;
    }
    caption,th,td{
        padding:1rem;
    }
    caption{
        position:relative;
        border-radius:.3rem .3rem 0 0;
        color:inherit;
        font-size:1.5rem;
        font-weight:700;
        background-color:#000c;
    }
    .captionTable{
        display:flex;
        justify-content:space-between;
        align-items:center;
    }
    .captionTable button{
        font-size:1rem;
        background-color:#fff5;
    }
    .captionTable button:hover{
        background-color:#fff1;
    }
    #detail tr{
        display:grid;
        grid-template-columns:10ch auto;
    }
    #detail img{
        max-height:20vh;
    }
    form#product > div{
        padding:.5rem;
        display:grid;
        grid-template-columns:10ch auto;
    }

    form#product .inputImage img{
        max-height:30vw;
    }
    form#product button{
        display:block;
        margin:1rem auto;
        width:30%;
        text-align:center;
    }

    form#product input{
        width:100%;
    }
    .hoverContainer{
        position:fixed;
        top:0;
        width:100%;
        height:100vh;
        height:100svh;
        border-radius:.3rem;
        display:grid;
        place-items:center;
        background-color:#000e;
        transition: all .1s ease-in;
        overflow:auto;
    }
    .lbuttonGroup{
        display:flex;
        gap:.3rem;
    }
    .lcardFull,.lcardFit{
        width:min(900px,100% - 5rem);
        min-height:10rem;
        border-radius:.3rem;
        background-color:#333;
        padding:1rem;
        overflow:auto;
    }
    .lcardFit{
        width:auto;
    }
    .lcardFull .lhead{
        display:flex;
        justify-content:space-between;
        align-items:center;
    }
    .lhead button{
        aspect-ratio:1;
        height:fit-content;
    }
    .lhide{
        opacity:0;
        pointer-events:none;
    }
    .lfbetween{
        display:flex;
        justify-content:space-between;
        align-items:center;
        gap:1rem;
    }
    th{
        background-color:#0006;
    }
    th div{
        display:flex;
        align-items:center;
        gap:1ch;
    }
    tr:nth-of-type(2n){
        background-color:#fff2;
    }
    tr input{
        width:100%;
    }

    @@media (max-width:640px){
        td{
            display:grid;
            grid-template-columns: 10ch auto;
        }
        .lfooter td{
            grid-template-columns: auto;
        }
        th{
            display:none;
        }

        tr:not(.lfooter) td:before {
            content:attr(data-cell)": ";
            text-transform:capitalize;
            font-weight:700;
        }
    }
</style>
<div class="lcontainer">
    <table>
        <caption>
            <div class="captionTable">
                Product List
                <button onclick="hoverContainer.classList.toggle('lhide')">
                    <i class="fas fa-plus"></i>
                </button>
            </div>
        </caption>
        <tr>
            <th>Id</th>
            <th role="button" onclick="setParam('sortBy','@setOrderBy(sortBy,"category")')">
                <div>
                    Category
                    @if(sortBy == "category-dsc")
                    {
                        <i class="fas fa-caret-down"></i>
                    }
                    @if(sortBy == "category-asc")
                    {
                        <i class="fas fa-caret-up"></i>
                    }
                </div>
            </th>
            <th role="button" onclick="setParam('sortBy','@setOrderBy(sortBy,"name")')">
                <div>
                    Name
                    @if (sortBy == "name-dsc")
                    {
                        <i class="fas fa-caret-down"></i>
                    }
                    @if (sortBy == "name-asc")
                    {
                        <i class="fas fa-caret-up"></i>
                    }
                </div>
            </th>
            <th>Image</th>
            <th role="button" onclick="setParam('sortBy','@setOrderBy(sortBy,"price")')">
                <div>
                    Price
                    @if (sortBy == "price-dsc")
                    {
                        <i class="fas fa-caret-down"></i>
                    }
                    @if (sortBy == "price-asc")
                    {
                        <i class="fas fa-caret-up"></i>
                    }
                </div>
            </th>
            <th role="button" onclick="setParam('sortBy','@setOrderBy(sortBy,"detail")')">
                <div>
                    Detail
                    @if (sortBy == "detail-dsc")
                    {
                        <i class="fas fa-caret-down"></i>
                    }
                    @if (sortBy == "detail-asc")
                    {
                        <i class="fas fa-caret-up"></i>
                    }
                </div>
            </th>
            <th>Action</th>
        </tr>
        @foreach(var data in product)
        {
            <tr>
                <td id="id" data-cell="id">@data.Id</td>
                <td id="category" data-cell="category" data-id="@data.CategoryId">@productCategory.Where(e=>e.Id==data.CategoryId).FirstOrDefault().Name</td>
                <td id="name" data-cell="name">@data.Name</td>
                <td id="image" data-cell="image">
                    <a href="/image/product/@data.Image" target="_blank">@data.Image</a>
                </td>
                <td id="price" data-cell="price">$@data.Price</td>
                <td id="detail" data-cell="detail">@data.Detail</td>
                <td id="action" data-cell="action">
                    <div data-id="@data.Id" class="lbuttonGroup">
                        <button onclick="detail(this)">
                            <i class="fas fa-book"></i>
                        </button>
                        <button onclick="edit(this)">
                            <i class="fas fa-pencil"></i>
                        </button>
                        <button onclick="deleteProduct(this)">
                            <i class="fas fa-trash"></i>
                        </button>
                    </div>
                </td>
            </tr>
        }
        <tr class="lfooter">
            <td colspan="7" style="text-align:center;">
                <div>
                    @if(rawData.Page!=1){
                        <button onclick="setParam('page',@rawData.Page-1)">
						    <i class="fas fa-caret-left"></i>
                        </button>
                    }
                    page @rawData.Page of @rawData.TotalPage
                    @if (rawData.Page != rawData.TotalPage)
                    {
                        <button onclick="setParam('page',@rawData.Page+1)">
						    <i class="fas fa-caret-right"></i>
                        </button>
                    }
                </div>
            </td>
        </tr>
    </table>
</div>
<div class="hoverContainer lhide" onclick="if(event.target==this)this.classList.toggle('lhide')">
    <div class="lcardFull">
        <div class="lhead">
            <h4>Tambah Produk</h4>
            <button onclick="hoverContainer.classList.toggle('lhide')">
                <i class="fas fa-close"></i>
            </button>
        </div>
        <form id="product">
            <div class="inputImage">
                <label for="image">Gambar</label>
                <div>
                    <img src="" alt="" />
                    <input type="file" name="image" id="image"/>
                </div>
            </div>
            <div>
                <label for="name">Nama</label>
                <input type="text" name="name" id="name"/>
            </div>
            <div>
                <label for="category">Kategori</label>
                <select name="CategoryId" id="category">
                    @foreach(var data in productCategory)
                    {
                        <option value="@data.Id">@data.Name</option>
                    }
                </select>
            </div>
            <div>
                <label for="price">Harga</label>
                <input type="number" name="price" id="price"/>
            </div>
            <div>
                <label for="detail">Detail</label>
                <input type="text" name="detail" id="detail" />
            </div>
            <button type="submit">Tambah Item</button>
        </form>
    </div>
</div>
<div id="detail" class="hoverContainer lhide" onclick="if(event.target==this)this.classList.toggle('lhide')">
    <div class="lcardFull">
        <div class="lheader lfbetween">
            <h3>Detail Produk</h3>
            <button onclick="this.parentElement.parentElement.parentElement.classList.toggle('lhide')">
                <i class="fas fa-close"></i>
            </button>
        </div>
        <img src="" alt="" style="margin:auto;border-radius:.3rem;"/>
        <table>
            <tr id="id">
                <td>Id</td>
                <td>:</td>
            </tr>
            <tr id="category">
                <td>Kategori</td>
                <td>:</td>
            </tr>
            <tr id="name">
                <td>Nama</td>
                <td>:</td>
            </tr>
            <tr id="price">
                <td>Harga</td>
                <td>:</td>
            </tr>
            <tr id="detail">
                <td>Detail</td>
                <td>:</td>
            </tr>
        </table>
    </div>
</div>
<div id="delete" class="hoverContainer lhide" onclick="if(event.target==this)this.classList.toggle('lhide')">
    <div class="lcardFit">
        <div class="lheader lfbetween">
            <h3>Delete Produk</h3>
            <button onclick="this.parentElement.parentElement.parentElement.classList.toggle('lhide')">
                <i class="fas fa-close"></i>
            </button>
        </div>
        <div class="lcontent" style="display:grid;gap:1rem;margin-top:1rem;">
            <h5>Yakin ingin menghapus "<span></span>"?</h5>
            <button style="width:80%;margin:auto;text-align:center;" data-id="" onclick="deleteConfirm(this)">Hapus</button>
        </div>
    </div>
</div>
<script>
    let inputImage = document.querySelector("#image")
    let hoverContainer = document.querySelector(".hoverContainer")
    inputImage.onchange=e=>{
        let file
        if (inputImage.files.length > 0)file = URL.createObjectURL(inputImage.files[0])
        else file=""
        inputImage.previousElementSibling.src=file
    }
    let productForm = document.querySelector("form#product")
    productForm.onsubmit=e=>{
        e.preventDefault()
        try{
            productForm.querySelectorAll("input").forEach(input => {
                if(input.value=="")throw("input must not be null")
            })
            fetch("/product/add", {
                method:"post",
                body:new FormData(productForm)
            }).then(e => e.json()).then(data =>{
                console.log(data)
                if (data.statusCode == 201) location.reload();
            })
        }
        catch(e){
            console.log(e)
        }
    }
    function detail(e){
        let detail = document.querySelector("div#detail")
        let tbl = detail.querySelector("table")
        detail.classList.toggle("lhide")
        data = e.parentElement.parentElement.parentElement.children
        tbl.rows.id.lastElementChild.innerHTML=": "+data.id.innerText
        tbl.rows.category.lastElementChild.innerHTML = ": " + data.category.innerText
        tbl.rows.name.lastElementChild.innerHTML = ": " + data.name.innerText
        tbl.rows.price.lastElementChild.innerHTML = ": " + data.price.innerText
        tbl.rows.detail.lastElementChild.innerHTML = ": " + data.detail.innerText
        detail.querySelector("img").src=""
        if (data.image.innerText != "") {
            detail.querySelector("img").src = "/image/product/" + data.image.innerText
        }
    }
    function edit(e){
        console.log("edit")
        let col = e.parentElement.parentElement.parentElement.children
        col.category.innerHTML = `<select></select>`
        fetch("/category/get").then(e => e.json()).then(data => { 
            data.data.forEach(e => {
                let opt = document.createElement("option")
                opt.value=e.id
                opt.innerHTML=e.name
                if(e.id==col.category.dataset.id)opt.defaultSelected=true
                col.category.firstElementChild.appendChild(opt)
            })
        })
        col.name.innerHTML = `<input type="text" value="${col.name.innerText}"/>`
        col.price.innerHTML = `<input type="text" value="${col.price.innerText}"/>`
        col.detail.innerHTML = `<textarea>${col.detail.innerText}</textarea>`
        let imageSrc= col.image.innerText
        col.image.innerHTML = `
        <img src="">
        <input type="file" style="grid-column:span 2;"/>
        `
        col.image.firstElementChild.src=imageSrc
        col.image.ondragover=e=>e.preventDefault()
        col.image.ondrop=e=>{
            e.preventDefault()
            let file = e.dataTransfer.files[0]
            if (file.type.indexOf("image") != -1) {
                let url = URL.createObjectURL(file)
                col.image.firstElementChild.src=url
                col.image.lastElementChild.files=e.dataTransfer.files
            }
        }
        col.image.firstElementChild.src="/image/product/"+imageSrc

        e.parentElement.innerHTML=`
            <button onclick="location.reload()">
                <i class="fas fa-close"></i>
            </button>
            <button onclick="confirmEdit(this)">
                <i class="fas fa-check"></i>
            </button>
        `
    }
    function confirmEdit(e){
        let row = e.parentElement.parentElement.parentElement
        try{
            row.querySelectorAll("input[type='text']").forEach(input => {
                if(input.value=="")throw("value must not be null")
            })
            let col = e.parentElement.parentElement.parentElement.children
            let formData = new FormData()
            formData.append("id",col.id.innerText)
            formData.append("categoryId", col.category.firstElementChild.value)
            formData.append("name", col.name.firstElementChild.value)
            formData.append("price", parseInt(col.price.firstElementChild.value.replace(/^\D/g, '')))
            formData.append("detail", col.detail.firstElementChild.value)
            formData.append("imagefile", col.image.lastElementChild.files[0])
            fetch("/product/update", {
                method:"put",
                body:formData
            }).then(e => e.json()).then(data => {
                console.log(data)
                if(data.statusCode == 200)location.reload()
            })
        }
        catch(e){
            console.log(e)
        }
    }
    function deleteProduct(e){
        let deleteProduct=document.querySelector("div#delete")
        deleteProduct.classList.toggle("lhide")
        let productName = e.parentElement.parentElement.parentElement.children.name.innerText
        deleteProduct.querySelector("span").innerHTML=productName
        let btn=deleteProduct.querySelector(".lcontent button")
        btn.dataset.id=e.parentElement.dataset.id
    }
    function deleteConfirm(e){
        fetch("/product/delete?id="+e.dataset.id).then(e=>e.json()).then(data=>{
            console.log(data)
            if(data.statusCode==200)location.reload()
        })
    }
    function setParam(name,value){
        let url=new URL(location.href)
        url.searchParams.set(name,value)
        location.href=url.href
    }
</script>