﻿@using RestoApp.Models.ViewModels
@using RestoApp.Models.DataModels
@model VMPagination<MProduct>
@{
    List<string> filterList = new List<string> {"name","category","price"};
    bool isActive(string filter)
    {
        if (ViewData["filterName"] != null && filter == "name") return true;
        else if (ViewData["filterCategoryName"] != null && filter == "category") return true;
        else if (ViewData["filterUpperPrice"] != null && filter == "price") return true;
        else if (ViewData["filterLowerPrice"] != null && filter == "price") return true;
        return false;
    }
    string getFilterValue(string filter)
    {
        if (filter == "name") return (string)ViewData["filterName"];
        if (filter == "category") return (string)ViewData["filterCategoryName"];
        if (filter == "price") return $"Max({ViewData["filterUpperPrice"]??"-"}) | Min({ViewData["filterLowerPrice"]??"-"})";
        return "";
    }
}

<style>
    .lcontainer.products{
        display:flex;
        width:100%;

        flex-wrap:wrap;
        justify-content:space-between;
        padding:1rem;
        padding-bottom:10rem;
        gap:1rem;
    }
    .products #page{
        display:block;
        width:100%;
        text-align:center;
    }
    .lbuttonGroup{
        display:flex;
        gap:.5rem;
        justify-content:center;
        align-items:center;
    }
    .lcard{
        background-color:#0005;
        border-radius:.3rem;
        max-width:calc(50% - 1rem);
        flex:1 1 18rem;

        padding:.5rem;
        display:flex;
        align-items:center;
        flex-wrap:wrap;
        gap:1rem;
    }
    .lcard .limg{
        aspect-ratio:1;
        min-height:8rem;
        flex:1;
        background-color:#fff9;
        background-size:cover;
    }
    .limg img{
        margin:auto;
    }
    .lcard .detail{
        flex:1;
    }
    #lcardCart{
        background-color:#0005;
        border-radius:.3rem;
        position:fixed;
        bottom:1rem;
        right:1rem;
        display:flex;
        flex-wrap:wrap;
        gap:.1rem;
        justify-content:center
    }
    #lcardCart > div, #lcardCart > i {
        background-color:#0005;
        border-radius:.3rem;
        flex:1;
        text-align:center;
        padding:.3rem;
    }
    #lcardCart div>*{
        display:block;
        text-align:center;
    }
    .lhide{
        opacity:0;
        pointer-events:none;
        transition:opacity .3s;
        height:0;
    }
    .lnone{
        display:none;
    }
    .detail .buy button{
        width:90%;
        text-align:center;
        display:block;
        margin:auto;
    }
    .filterContainer{
        padding:1rem;
        padding-bottom:0;
        background:#0005;
        position:relative;
    }
    .filterContainer button.inactive{
        opacity:.3;
    }
    .filterContainer span{
        font-weight:700;
        font-size:1.2rem;
    }
    .filterContainer i:hover{
        opacity:.5;
    }
    .popupContainer{
        display:grid;
        place-items:center;
        padding-block:2ch;
    }
    </style>
<div class="filterContainer">
    <span>Filter By : </span>
    <button class="@(ViewData["filterName"]!=null?"":"inactive")" onclick="if(event.target==this)loadContentTo('/product/searchName',target)">
        name @(ViewData["filterName"] != null ? ": " + ViewData["filterName"]:"")
        @if(ViewData["filterName"] != null){
            <div style="display:inline-block;">
                <i onclick="deleteParam('filterName')"class="fas fa-close"></i>
            </div>
        }
    </button>
    <button class="@(ViewData["filterCategoryName"]!=null?"":"inactive")" onclick="if(event.target==this)loadContentTo('/product/searchCategory',target)">
        category @(ViewData["filterCategoryName"] != null ? ": " + ViewData["filterCategoryName"]:"")
        @if (ViewData["filterCategoryName"] != null)
        {
            <div style="display:inline-block;">
                <i onclick="deleteParam('filterCategoryName')" class="fas fa-close"></i>
            </div>
        }
    </button>
    <button class="@(ViewData["filterUpperPrice"]!=null||ViewData["filterLowerPrice"]!=null?"":"inactive")" onclick="if(event.target==this)loadContentTo('/product/searchPrice',target)">
        price @(ViewData["filterUpperPrice"] != null || ViewData["filterLowerPrice"] != null ? $": Max({ViewData["filterUpperPrice"] ?? "-"}) | Min({ViewData["filterLowerPrice"]??"-"})" : "")
        @if (ViewData["filterLowerPrice"] != null || ViewData["filterUpperPrice"] != null)
        {
            <div style="display:inline-block;">
                <i onclick="deleteParam(['filterUpperPrice','filterLowerPrice'])" class="fas fa-close"></i>
            </div>
        }
    </button>
    <div class="popupContainer lhide">
    </div>
    <button id="hideInput" class="lhide" style="padding-block:0;display:block;margin-inline:auto;" onclick="hideInput(this)">
		<i class="fas fa-caret-up"></i>
    </button>
</div>
<div class="lcontainer products">
    @if(Model.Data!=null){
        @foreach(var d in Model.Data){
            <div class="lcard">
                <div class="limg">
                    <img src="/image/product/@d.Image" alt="" />
                </div>
                <div class="detail" data-id="@d.Id" data-name="@d.Name" data-price="@d.Price">
                    <h4 class="name">@d.Name</h4>
                    <h6 class="price">$@d.Price</h6>
                    <div class="buy">
                        <button class="addItem" onclick="buy(this)">Pesan</button>
                    </div>
                    <div class="lbuttonGroup lnone">
                        <button onclick="unBuy(this)">
                            <i class="fas fa-minus"></i>
                        </button>
                        <span id="qty">0</span>
                        <button onclick="buy(this)">
                            <i class="fas fa-plus"></i>
                        </button>
                    </div>
                </div>
            </div>
        }
    }
    <div id="page" data-page="@Model.Page">
        @if(Model.Page>1){
            <button onclick="location.href='?page=@(Model.Page-1)'">
                <i class="fas fa-caret-left"></i>
            </button>
        }
        <button>@Model.Page of @Model.TotalPage</button>
        @if(Model.Page<Model.TotalPage){
            <button onclick="location.href='?page=@(Model.Page+1)'">
                <i class="fas fa-caret-right"></i>
            </button>
        }
    </div>
</div>
<div id="lcardCart" class="lhide">
    <i class="fas fa-cart-shopping" style="flex-basis:100%"></i>
    <div id="totalItem">
        <span>Total Item</span>
        <span>:</span>
    </div>
    <div id="totalPrice">
        <span>Total Price</span>
        <span>:</span>
    </div>
    <button class="checkout" style="flex-basis:100%;" onclick="location.href='/payment'">Bayar</button>
</div>
<script>
    let cart=[]
    function buy(e){
        let span=e.parentElement.parentElement.querySelector("#qty")
        let qty = parseInt(span.innerText)
        if (qty == 0) {
            e.parentElement.classList.toggle("lnone")
            e.parentElement.nextElementSibling.classList.toggle("lnone")
            let d = {
                productId: parseInt(e.parentElement.parentElement.dataset.id),
                name: e.parentElement.parentElement.dataset.name,
                price: parseInt(e.parentElement.parentElement.dataset.price),
                qty: 1
            }
            let formData = new FormData()
            for(let key in d)formData.append(key,d[key])
            fetch("/order/update",{
                method:"post",
                body:formData
            }).then(e=>e.json()).then(data=>{
                console.log(data)
                if (data.statusCode == 200) {
                    cart.push(d)
                    span.innerHTML=1
                    updateCartUI()
                }
            })
        }
        else {
            cart.forEach(c => {
                if (c.productId == parseInt(e.parentElement.parentElement.dataset.id)) {
                    let formData = new FormData()
                    c.qty++
                    for(let key in c)formData.append(key,c[key])
                    c.qty--
                    fetch("/order/update", {
                        method:"post",
                        body:formData
                    }).then(e=>e.json()).then(data=>{
                        console.log(data)
                        if (data.statusCode == 200) {
                            c.qty++
                            span.innerHTML=c.qty   
                            updateCartUI()
                        }
                    })
                    return
                }
            })
        }
    }
    function unBuy(e){
        let span = e.parentElement.parentElement.querySelector("#qty")
        let qty = parseInt(span.innerText)
        if (qty == 1) {
            e.parentElement.previousElementSibling.classList.toggle("lnone")
            e.parentElement.classList.toggle("lnone")
            for (let i = 0; i < cart.length; i++) {
                if (cart[i].productId == parseInt(e.parentElement.parentElement.dataset.id)) {
                    let formData = new FormData()
                    cart[i].qty--
                    for(let key in cart[i])formData.append(key,cart[i][key])
                    cart[i].qty++
                    fetch("/order/update", {
                        method:"post",
                        body:formData
                    }).then(e=>e.json()).then(data=>{
                        console.log(data)
                        if (data.statusCode == 200) {
                            cart.splice(i, 1)
                            span.innerHTML=0
                            updateCartUI()
                        }
                    })
                    break
                }
            }
        }
        else{
            cart.forEach(c=>{
                if (c.productId == parseInt(e.parentElement.parentElement.dataset.id)) {
                    let formData=new FormData()
                    c.qty--
                    for(let key in c)formData.append(key,c[key])
                    c.qty++
                    fetch("/order/update", {
                        method:"post",
                        body:formData
                    }).then(e => e.json()).then(data => {
                        console.log(data)
                        if(data.statusCode==200){
                            c.qty--
                            span.innerHTML=c.qty
                            updateCartUI()
                        }
                    })
                    return
                }
            })
        }
    }
    function updateCartUI(){
        let cardCart = document.querySelector("#lcardCart")
        let item = cardCart.children
        if (cart.length > 0) {
            let totalItem = 0
            let totalPrice = 0
            cart.forEach(c => {
                totalItem += c.qty
                totalPrice += c.qty * c.price
            })
            item.totalItem.lastElementChild.innerHTML = totalItem
            item.totalPrice.lastElementChild.innerHTML = totalPrice
            cardCart.classList.remove("lhide")
        }
        else {
            item.totalItem.lastElementChild.innerHTML = 0
            item.totalPrice.lastElementChild.innerHTML = 0
            cardCart.classList.add("lhide")
        }
    }
    function updateProductUI(){
        let productList = document.querySelectorAll(".products .lcard")
        if(cart.length>0)productList.forEach(p=>{
            let productId=p.querySelector(".detail").dataset.id
            let buttonGroup = p.querySelector(".lbuttonGroup")
            cart.forEach(c=>{
                if(c.productId==productId){
                    if(c.quantity!=0){
                        buttonGroup.children.qty.innerHTML=c.qty
                        buttonGroup.previousElementSibling.classList.toggle("lnone")
                        buttonGroup.classList.toggle("lnone")
                    }
                    else{
                        cart.splice(cart.indexOf(c),1)
                    }
                }
            })
            updateCartUI()
        })
    }
    fetch("/order/get").then(e=>e.json()).then(data=>{
        console.log(data)
        cart=data.data
        cart.forEach(c=>{
            c.price=c.product.price
            c.qty=c.quantity
        })
        cart=cart.filter(c=>c.quantity!=0)
        updateProductUI()
    })
    function loadContentTo(url,element){

        element.innerHTML=""
        fetch(url).then(e=>e.text()).then(data=>{
            console.log(data)
            let parser = new DOMParser()
            let html = parser.parseFromString(data,"text/html")
            html.querySelectorAll("body>div").forEach(e=>element.appendChild(e))
            
            let script=document.createElement("script")
            script.innerHTML=html.querySelector("script").innerHTML
            document.body.appendChild(script)
            
            let style = document.createElement("style")
            let s = html.querySelector("style")
            style.innerHTML=s&&s.innerHTML
            document.head.appendChild(style)

            target.classList.remove("lhide")
            document.querySelector("#hideInput").classList.remove("lhide")
        })
    }
    let target = document.querySelector(".popupContainer")
    function deleteParam(name){
        if(typeof(name)=='object'){
            let url = new URL(location.href)
            name.forEach(n=>{
                url.searchParams.delete(n)
            })
            location.href = url.href
        }
        else{
            let url=new URL(location.href)
            url.searchParams.delete(name)
            location.href=url.href
        }
    }
    function hideInput(e){
        e.classList.add("lhide")
        target.innerHTML=''
        target.classList.add("lhide")
    }
</script>
