﻿@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
	Layout = null;
}
@using RestoApp.Models.DataModels
@model List<MProductCategory>
<div>
	<form onsubmit="searchCategory(event)">
		<label for="filterCategoryName">Pilih Kategori</label>
		<select id="filterCategoryName" name="filterCategoryName">
			@foreach(var d in Model)
			{
				<option>@d.Name</option>
			}
		</select>
		<button type="submit">Cari</button>
	</form>
</div>

<script>
	function searchCategory(e){
		e.preventDefault()
		let val=e.target.filterCategoryName.value
		let url=new URL(location.href)
		url.searchParams.set("filterCategoryName",val)
		location.href=url.href
	}
</script>