﻿@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
	Layout = null;
}
<style>
	#searchName input {
		text-align:center;
		border-radius:.3rem;
		width:100%;
	}
	#searchName button{
		width:100%;
	}
</style>

<div style="width:min(90%,50%)">
	<form id="searchName" onsubmit="search(event);">
		<input type="text" name="name" placeholder="cari nama"/>
		<button type="submit">Cari</button>
	</form>
</div>

<script>
	document.querySelector("#searchName input").focus()
	function search(e){
		e.preventDefault()
		let url = new URL(location.href)
		url.searchParams.set("filterName",e.target.firstElementChild.value)
		location.href=url.href
	}
</script>