﻿@{
	Layout = null;
}

<style>
	@@media screen and (max-width:840px){
		#searchPrice{
			display:grid;
			grid-template-columns:auto 1fr;
			gap:1ch;
		}
		#searchPrice button{
			grid-column:span 2;
		}
	}
</style>

<div>
	<form onsubmit="searchPrice(event);" id="searchPrice">
		<label for="filterUpperPrice">Atur Harga Tertinggi : </label>
		<input type="number" name="filterUpperPrice" id="filterUpperPrice"/>
		<label for="filterLowerPrice">Atur Harga Terendah : </label>
		<input type="number" name="filterLowerPrice" id="filterLowerPrice"/>
		<button type="submit">Cari</button>
	</form>
</div>

<script>
	function searchPrice(e){
		e.preventDefault()
		let valUpper=e.target.filterUpperPrice.value
		let valLower=e.target.filterLowerPrice.value
		let url=new URL(location.href)
		if (valUpper != "") url.searchParams.set("filterUpperPrice", valUpper)
		if (valLower != "") url.searchParams.set("filterLowerPrice", valLower)
		location.href=url.href
	}
</script>